<header class="intro">
  <h1 class="intro__hello">Hello! I'm <span class="name"><strong>Jin Yoo</strong></span>
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">
    "<strong>TODAY</strong> that you have lived in vain is<br>
    the <strong>TOMORROW</strong> that a person<br>
    who died <strong>YESTERDAY</strong>truly wanted to live."<br>
    <span class="emoji">🧑🏻‍💻</span>
  </h2>

  <!-- <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:brittany.chiang@gmail.com" target="_blank" class="highlight-link">brittany.chiang@gmail.com</a>
    </span>
  </h3> -->
</header>
