body {
    background-color: #000000;
}

h1 {
    display: block;
    font-size: 4rem;
    margin-top: 1rem;
    margin-bottom: 0.11rem;
    font-weight: bold;
}
h2 {
    color: #ffffff;
}

.page-header {
    padding: 3rem 4rem;
}

.page-header {
    text-align: left;
}

.page-title {
    color: #fca311;
}

.page-author {
    font-size: 2rem;
    color: #e5e5e5;
    font-weight: lighter;
}

.page-author {
    margin-top: 0.01rem;
    margin-bottom: 1rem;
}

.main-content {
    text-align: center;
    background-color: #14213d;
}